/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
body {
text-align: center;
color: darkseagreen;
background-color:whitesmoke;
}

.assignment {
border: 3px solid navy;
border-radius: 100%;
}

h4 {
color:seagreen;
font-family: sans-serif;
}

.subject {
color: black;
}
.id {
color: rgb(255, 255, 0);
}